.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.heading {
  text-align: left;
  padding: 15px;
  flex: 1; /* Allow the heading to take up remaining space */
}

.bg {
  width: 100%;
  height: 100px;
  background-color: rgba(227, 232, 237);
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.buttons {
  text-align: right; /* Align buttons to the right */
  /* Allow the buttons to take up remaining space */
  display: flex;
  gap: 5px;
  margin-right: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
